@font-face {
    font-family: Monocraft;
    src: url('../fonts/Monocraft.otf');
}
@font-face {
    font-family: Uburied;
    src: url('../fonts/unburied.otf');
}
@font-face {
    font-family: Mediaval;
    src: url('../fonts/medieval-pixel.otf');
} 

body{
    /*Coloring the Div*/
    background-color: #211e20;
    color: #e9efec;
    
    /*Styling the Text*/
    font-family: Monocraft;
    font-size: 20px;


    .loading{
        /*Div Alignment*/
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        /*Div Text Style*/
        font-family: Monocraft;
        font-size: 2rem;

        /*Div Scaling*/
        height: 100%;
        width: 100%;
    }

    .ponder{
        width: 480px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .links{
        /*Div Alignment*/
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        /*Div Scaling*/
        height: 100%;
        width: 100%;
        
        .text{
            /*Div Text Style*/
            font-family: Monocraft;
            font-size: 2rem;
        }

        .list{
            /*Div Text Style*/
            font-family: Monocraft;
            font-size: 2rem;

            /*Div Positioning*/
            margin-top: 1rem;

            /*Div Alignment*/
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            a{
                /*Link Text Style*/
                color: #e9efec;
                text-decoration: none;
                font-family: Monocraft;
                font-size: 2rem;

                margin: 0.5rem 0;
            }
        }


    }

}

@media only screen and (max-width: 600px) {
    

    body{
        .loading{
            /*Mobile Resize*/
            font-size: 1rem;
        }
    
        .ponder, .links{
            /*Mobile Resize*/
            width: 12rem;
        }
    
    }

}